<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete the user data</title>
</head>
<body>
    <h2>Your about to edit this user : <%=user.username %></h2>
    <form method="POST" action="/user/<%= user.id %>?_method=DELETE">
    <input name="email" type="text" placeholder="enter your email">
    <input name="password" type="password" placeholder="enter your password">
    <button>DELETE</button>
    </form>
</body>
</html>