<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>Add new user here :</h2>
    <form method="POST" action="/user">
    <input placeholder="enter username" name="username"><br><br>
    <input placeholder="enter email" name="email"><br><br>
    <input placeholder="enter password" type="password" name="password"><br><br>
    <button>Add new user</button>
    </form>
</body>
</html>